@import '../variables.scss';


.contacts {
    &__list li {
        padding: 15px 0;

        a {
            display: flex;
            span {
                padding-left: 50px;
                font-family: $font-Cota;
                font-size: 40px;
                color: beige;
            }

            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}