@import '../variables.scss';

.info {
    background-color: $color-MineShaft;

    &__wrapper {
        width: 100%;
        height: 100vh;
    }

    .container {
        max-width: 1400px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__wrapper {
        padding: 120px 0 100px 0;
    }
}