@import '../variables.scss';

.info {
    display: none;

    &__wrapper {
        width: 100%;
        min-height: 100vh;
        padding: 120px 0 100px 0;

        @media screen and (max-width: 576px) {
            padding: 100px 0 90px 0;
        }
    }

    .container {
        max-width: 1260px;
        padding: 0 15px;
        margin: 0 auto;
    }
}