@import './variables.scss';

.footer {
    background-color: $color-MineShaft;
    
    .container {
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__wrapper {
        padding: 50px;
    }
}