@import './variables.scss';
@import './templates.scss';

.footer {
    display: none;
    position: relative;

    .container {
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__wrapper {
        padding: 50px 0;
    }

    .social-media {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        max-width: 400px;
        width: 100%;

        li {
            @media screen and (max-width: 576px) {
                width: 40px;
                height: 40px;
            }
        }
    }

    .contact {
        position: absolute;
        top: 40px;

        @media screen and (max-width: 924px) {
            top: 225px;
            left: 50%;
            margin-left: -115px;
        }

        &__email,
        &__phone {
            display: flex;
            background-color: transparent;
            border-radius: 10px;
            transition: width 2s ease;
            overflow: hidden;
            cursor: pointer;
            margin-bottom: 10px;
            padding: 7px;
            height: 40px;
            width: 40px;
            margin-right: auto;

            a {
                margin-left: 10px;
                font-size: 17px;
                font-family: $font-OpenSans;
                visibility: hidden;
                opacity: 0;
                transition: opacity 2s ease, visibility 2s ease, color 0.5s ease;

                &:hover {
                    color: #9e9c9c;
                }
            }
        }

        &__email:hover {
            width: 230px;

            a {
                visibility: visible;
                opacity: 1;
            }
        }

        &__phone:hover {
            width: 180px;

            a {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .copyright {
        padding-top: 60px;
        text-align: center;

        @media screen and (max-width: 924px) {
            padding-top: 130px;
        }

        span {
            font-family: $font-OpenSans;
            font-size: 15px;
        }
    }
}