@import './style/variables.scss';
@import './templates.scss';

.general__wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    border-bottom: 5px solid $color-White;
  }
  
  .card {
    background-color: $color-MineShaft;
    @extend %width-height;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:hover .card__flip {
        transform: rotateY(180deg);
      }

    &__flip {
        @extend %width-height;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 1.5s ease;

        &_inner {
            @extend %width-height;
            position: absolute;
            transform-style: preserve-3d;
            transition: transform 1.5s ease;
            perspective: 600px;
            backface-visibility: hidden;
          }

          &_back,
          &_front {
            @extend %width-height;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            backface-visibility: hidden;
          }

          &_front {
            background-color: $color-MineShaft;
            z-index: 2;
            @extend %flex-center;
          }

          &_back {
            background-color: $color-Black;
            transform: rotateY(180deg);
            @extend %flex-center;

            h4 {
                font-size: 40px;
                font-family: $font-Cota;
                color: $color-White;
              }
          }
      }
  }