@import './variables.scss';

body {
    font-family: $font-Mako;
}

.container {
    overflow: hidden;
}

.duble-line {
    padding: 15px 0;

    .line {
        max-width: 335px;
        width: 100%;
        height:1px;
        background-color: $color-Azure-Radiance;
        display: block;
    
        &_sub {
            margin-top: 6px;
            height: 3px;
        }
    }
}

.progress-bar {
    width: 100%;
    max-width: 290px;
    height: 4px;
    background-color: $color-Olivetone;

    &::-webkit-progress-bar {
        background-color: $color-Olivetone;;
        border-radius: 10px;
        transition: all 2s ease;
      }

      &::-webkit-progress-value {
        background-color: $color-Golden-Dream;;
        border-radius: 10px;
        transition: all 2s ease;
      }
  }
