@import './style/variables.scss';
@import './templates.scss';

.page-background {
    &__wrapper {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;

        &::before {
            content: '';
            background-color: $color-Black-Opacity07;
            @extend %width-height;
            position: absolute;
            top: 0;
            left: 0;
        }
        
          img {
            width: 100vw;
            height: 100vh;
          }
      }
}