%width-height {
    width: 100%;
    height: 100%;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%black-theme-color {
    color: white;
}

%black-theme-backgrond {
    background-color: #201F1F;
}