$font-Cota: 'Kotta One', sans-serif;  
$font-Mako: 'Mako', sans-serif;  
$font-OpenSans: 'Open Sans', sans-serif;  

$color-MineShaft: #201F1F;
$color-Black: #000;
$color-Black-Opacity07: rgba(0, 0, 0, 0.7);
$color-White: #fff;
$color-Azure-Radiance: #019ef9af;
$color-Olivetone: #6f741563;
$color-Golden-Dream: #e3ed30ad;